{% extends 'sample/base.html' %}

{% block title %}Все тесты{% endblock %}
{% block content %}
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-6">
                        <h1 class="page-header">
                            Обзор <small>Overview</small>
                        </h1>
                    </div>  
                </div>
                
                <!-- /.row -->

            <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Все наборы</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Набор #</th>
                                                <th>Количество пар</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for test in tests_list %}
                                            <tr>
                                                <td>{{test.id}}</td>
                                                <td>{{test.get_pairs_count}}</td>
                                                <td> <a href="{% url 'sample:detail' test.id %}"><button type="button" class="btn btn-primary">Детали</button></a></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                      
                </div>
                <!-- /.row -->
                {% endblock %}