{% extends 'sample/base.html' %}

{% block title %}Детали{% endblock %}
{% block content %}
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-6">
                        <h1 class="page-header">
                            Обзор <small>Overview</small>
                        </h1>
                    </div>  
                </div>
                
                <!-- /.row -->

            <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Все наборы</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Набор #</th>
                                                <th>Количество пар</th>
                                                <th>Пары</th>
                                                <th>Последняя проверка</th>
                                                <th>Результат</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        
                                            <tr>
                                                <td>{{test.id}}</td>
                                                <td>{{test.get_pairs_count}}</td>
                                                <td>
                                                    {% for pair in test.pair_set.all %}
                                                         <li>a:{{ pair.int_A }}  b:{{ pair.int_B }}</li>
                                                    {% endfor %}
                                                </td>
                                                <td>{{result.date}}</td>
                                                <td>{{result.result}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                      
                </div>
                {% if result.traceback %}
                <div class="row">
                    <div class="col-sm-8">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <h3 class="panel-title">traceback</h3>
                            </div>
                            <div class="panel-body">
                                {{result.traceback}}
                            </div>
                        </div>
                    </div>

                </div>
                {% endif %}
                <!-- /.row -->
                {% endblock %}