{% extends 'sample/base.html' %}

{% block title %}Главная{% endblock %}
{% block content %}
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-4">
                        <h1 class="page-header">
                            Обзор <small>Overview</small>
                        </h1>
                    </div>
                    <div class="col-lg-2">
                    <div class="text-left page-header">
                        <a href="{% url 'sample:start' %}"><button type="button" class="btn btn-lg btn-primary">Начать проверку</button></a>
                    </div> 
                    </div>
                    <div class="col-lg-6">
                        {% if ex %}
                            <div class="page-header alert alert-danger">
                                Во время прошлого тестирования были эксепшены!
                            </div>
                        {% else %}
                            <div class="page-header alert alert-success">
                                Последний тест прошел спокойно.
                            </div>
                        {% endif %}
                    </div>  
                    
                </div>

                
                <!-- /.row -->

            <div class="row">
                <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Добавление данных</h3>
                            </div>
                            <div class="panel-body">
                             <form role="form" action="{% url 'sample:add_sample' %}" method="POST">{% csrf_token %}

                            <div class="form-group">
                                <label>Набор</label>
                                <input class="form-control" name="sample_text" >
                                <p class="help-block">Введите в формате:{"a":1,"b":2},{"a":4,"b":-2},...</p>
                            </div>


                            <button type="submit" class="btn btn-default">Submit Button</button>
                            <button type="reset" class="btn btn-default">Reset Button</button>

                        </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i>Worker Control</h3>
                            </div>
                            <div class="panel-body">
                            <form role="form" action="{% url 'sample:pool' %}" method="POST">
                            {% csrf_token %}
                                <div class="form-group">

                                    <label>Pool Size Grow</label>
                                    <select class="form-control" name="size">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                    <select class="form-control" name="act">
                                        <option>grow</option>
                                        <option>shrink</option>
                                    </select>
                                    <select class="form-control" name="worker">
                                        <option>worker1</option>
                                        <option>worker2</option>
                                        <option>worker3</option>
                                    </select>
                                    <button type="submit" class="btn btn-default">Submit Button</button>

                                </div>
                                </form>
                            </div>
                        </div>
                    </div>

                      
                </div>
                <!-- /.row -->

        
            {% endblock %}